.container {
  height: 100vh;
  background-color: rgb(26, 26, 26);
  padding: 3rem;
}

.score {
  text-align: center;
  margin-bottom: 3rem;
}

.photosContainer {
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.photo {
  cursor: pointer;
}
