.container {
  height: 100vh;
  background-color: rgb(26, 26, 26);
  padding: 3rem;
}

.score {
  text-align: center;
  margin-bottom: 3rem;
}

.photosContainer {
  width: fit-content;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.againButton {
  padding: 20px 40px;
  font-size: large;
  opacity: 0.85;
  position: absolute;
  background-color: black;
  color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.photo {
  cursor: pointer;
}

@media only screen and (max-width: 825px) {
  .photo {
    width: 200px;
  }

  .againButton {
    padding: 0;
    font-size: small;
  }
}
@media only screen and (max-width: 653px) {
  .photo {
    width: 100px;
  }
}
@media only screen and (max-width: 391px) {
  .photo {
    width: 75px;
  }
}
