.container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 1rem;
}

@media( max-width:541px){

    .challenge{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .challengeLink{
        width: 130px !important;
        padding: 5px;
        width: max-content;
        border: 2px solid salmon;
        text-align: center;
    }   

    
}