.container {
  --color-border: gray;
  --size-border-radius: 8px;
  --size-width-total: 300px;

  background-color: white;
  color: black;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.allSections {
  position: relative;
  height: 50vh;
}

.inputSelectedNamesSearchSection {
  position: relative;
  width: var(--size-width-total);
  margin-bottom: 10px;
}

.selectedNamesAndInput {
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  border: 2px solid var(--color-border);
  border-radius: var(--size-border-radius);
}

.nameButton:hover {
  outline: none;
}

.inputArea {
  border: none;
  margin: 2px;
  padding: 2px;
  min-width: 30px;
  height: auto;
}
.inputArea:focus {
  outline: none;
}

.dropdown {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.charactersSection {
  position: absolute;
  height: 50vh;
  width: var(--size-width-total);
  overflow-y: scroll;
  border: solid 2px var(--color-border);
  border-radius: var(--size-border-radius);
}

.rowContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: solid 2px var(--color-border);
  padding: 5px;
  /* border-radius: 5px; */
}

.characterImage {
  aspect-ratio: 1/1;
  width: 3rem;
  border-radius: 20%;
}

.namesInDropDown {
  list-style-type: none;
}

.noResult {
  text-align: center;
}
