.container {
  background-color: white;
  color: black;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.allSections {
  width: 400px;
  height: 50vh;
  display: grid;
  place-content: center;
}

.selectedNamesAndInput {
  display: flex;
  flex-wrap: wrap;
}

.nameButton {
}
.nameButton:hover {
  outline: none;
}

.inputArea {
  border: none;
}

.characterSection {
  overflow-y: scroll;
}
.rowContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.inputArea {
  min-width: 30px;
}

.characterImage {
  aspect-ratio: 1/1;
  width: 3rem;
  border-radius: 20%;
}

.rowsInDropDown {
  list-style-type: none;
}
