.challenge{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border: 2px solid salmon;
    padding: .5rem;
    cursor: pointer;
}

.challenge:hover{
    color:salmon;
    scale: 1.1;    
}

.challengeArticle{
    padding: 10px;
    width: 200px;
    text-align: center;
    color: salmon;
}


.challengeDesc{
    font-style: italic;
}

@media( max-width:541px){

    .challenge{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .challengeArticle{
        width: 130px !important;
        padding: 5px;
        width: max-content;
        border: 2px solid salmon;
        text-align: center;
    }   

    
}