.challenge{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border: 2px solid salmon;
    padding: .5rem;
    cursor: pointer;
    padding: 10px;
    
}

.challenge:hover{
    color:salmon;
    scale: 1.1;    
}

.challengeArticle{
    width: max-content;
    text-align: center;
    color: salmon;
}


.challengeDesc{
    font-style: italic;
}

