.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  aspect-ratio: 1;
  height: 100px;
  font-size: 5rem;
}
