:root{

  /* resultssummarychallenge */
  --light-red: hsl(0, 100%, 67%)
  --orangey-yellow: hsl(39, 100%, 56%)
  --green-teal: hsl(166, 100%, 37%)
  --cobalt-blue: hsl(234, 85%, 45%)
  /* background */
  --light-slate-blue: hsl(252, 100%, 67%)
  --light-royal-blue: hsl(241, 81%, 54%)
  /* background */
  /* circle */
  --violet-blue: hsla(256, 72%, 46%, 1)
  --persian-blue: hsla(241, 72%, 46%, 0)
  /* circle */
  /* resultssummarychallenge */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  /* font-size: 20px; */
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button{
  cursor: pointer;
}

button:hover{
  outline: black 4px solid;

}

