*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-size: 20px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

button{
  cursor: pointer;
}

button:hover{
  outline: black 4px solid;

}

